.footer-content {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    height: auto;
    margin:4%;
    padding:20px;
    font-size: .8rem;
    /* position:fixed; */
    /* z-index: 999; */

}