.project-container {
  color: rgb(0, 68, 129);
  font-size: rem;
  background-color: black;
}
.box-container {
  border: 0.23rem solid rgb(148,240,0);
  margin: 30px;
  width: auto;
  transition: transform 450ms;
  border-radius: 20 20px;
}

.box-container:hover {
    transform: scale(1.08);
  }
.project-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.6em;
  background: -webkit-linear-gradient(#B7F8DB, #50A7C2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box {
  color: rgb(88, 236, 19);
}


img {
  object-fit: contain;
  width: 25%;
}
/* .col {
    border-radius: 20 20px;

    transition: transform 450ms;
} */

/* .col:hover {
    transform:scale(1.08);
} */

/* may need object fit con for images */
