.project-container {
  /* color: rgb(0, 68, 129); */
  background-color: #0e2124;
}
.box-container {
  border: 0.26rem solid #d6b850;
  border-width: thin;
  margin: 40px;
  width: auto;
  transition: transform 450ms;
  border-radius: 20 20px;
  padding:10px;
}

.box-container:hover {
    transform: scale(1.08);
  }
.project-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 2.3rem;
  background: -webkit-linear-gradient(#f5f5f1, #ddb421);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-links {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.4rem;
  color:#d6b850;
}

/* .revealer{
  transform:translate(-100%, 0) matrix(1,0,0,1,0,0);
} */

.project-links:hover{
/* background-color:red; */
text-decoration: none;
list-style: none;

}
/* a:hover {
  background-color: yellow;
} */
.box {
  color: #08a7ce;
}


img {
  object-fit: contain;
  width:50%;
  border-radius: 30%;
  /* height:auto; */
}
.image-col{
  margin:4%;

}
.app-description{
  font-size: 1.2rem;
  margin:3%;
}
/* .col {
    border-radius: 20 20px;

    transition: transform 450ms;
} */

/* .col:hover {
    transform:scale(1.08);
} */

/* may need object fit con for images */

@media (max-width:675px){
/* .box-container {
  display: none;
} */
.project-title{
  color:red;
  }
  .project-links{
    display:block;
  }
  /* .project-container{
    display:none;
  } */
  
 
  
}