.icon-row {
/* display: flex;  
justify-content: space-between;  */
/* size:2.8em; */
}
.icon-col{
    display: flex;  
justify-content: space-around; 
}
.icon-col>a:hover{
  transform: scale(.7);
  transition-duration: .3s;
}

.contact-footer{
  /* font-family: 'Libre Barcode 39 Extended', cursive; */
  justify-content: center;
  display:flex;
  flex-wrap: wrap;
  overflow: hidden;
  /* color: #08a7ce; */
  font-size: 1.2rem;
  margin:4%;

}
icon{
  margin:15px;
  
}