


.profile-image{

    object-fit: contain;
    position:relative;
    top:0;
    width: 6rem;
    height: 6rem;
    object-position: top;
    border-radius: 50%;
    border:4px solid #d6b850;
    transition:250ms, top ease-in-out;
    margin:4px;

}
.profile-image:hover{
 top:-2rem;  
}
.profile-box{
    padding: 2rem;
    margin:2rem;

}
.home-description{
    word-wrap: break-word;
    font-size: 1.3rem;
    margin:4%;
    text-align: center;


}

