
.contact-form-container {
    background-color: black;
    /* color: whitesmoke; */
    color: #08a7ce;
}
textarea.form-control,input.form-control{
    background-color: black;
    border-color:#000 #000 #08a7ce #000;    
}

.btn:hover{
    transform: scale(1.3);
    transition-duration: .1s;
}
 /* .form-submit-button{
    color:#08a7ce;
    background-color:yellow;
}  */
/* .form-container {
    background-color: black;
    color: whitesmoke;
} */
  .icon-row {
      margin:20px;
    /* color:red;
 display: flex; 
 justify-content: space-around; 
 size:2.8em;  */
} 

.icon-col {
display: flex;
justify-content: space-around;
} 

.contact-footer{
    font-family: 'Libre Barcode 39 Extended', cursive;
    color: #08a7ce;
    font-size: 24px;
/* display: flex;
justify-content: center; */
background-color:greenyellow;



}
.intro-contact{
    font-family: 'Trykker', serif;
    font-style: italic;
    font-size: 1.4rem;
    color: whitesmoke;

}
.email-prompt {
    font-family: 'Trykker', serif;
    color: #08a7ce;
    
}