/* color: rgb(0,68,129); */


#parent {
  /* background-color: rgb(225, 223, 223); */
  background-color: #0e2124;
  height: 100vh;
}
.menu {
  display: inline-block;
  cursor: pointer;
}
/* .items > Link {
  cursor: pointer;
  padding: 1em 1em 1em 3em;
  color: white;
  font-weight: bold;
} */
.logo {
  font-size: 60px;
  color: rgb(0,68,129);
  padding-top: 5px;
  padding-right: 15px;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: rgb(0,68,129);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#nav-bar {
  background: black;
  padding: 0.2em;
  margin-right: 3em;
}
