.about-container {
    color:rgb(0,68,129);   
    font-size:1.2rem;
    background-color: black;
    
}

button {
color:green;
background-color:red;
margin: 6px;

}
button:hover {
    transform:450ms;
}