
/* Global styles */
:root {
    --danger-color: #dc3545;
    --success-color: #28a745;
    --yellow-color: #d6b850;
    --blue-color:#08a7ce;
    --red-color: #7f3331;
    --almost--black:#0e2124;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Trykker', serif;
    font-style: italic;
    font-size: .9rem;
    color: whitesmoke;
    background-color: #0e2124;
    height: 100vh;

  }
  .logo {
    font-size: 4rem;
    color: var(--yellow-color);
    margin-top: 0rem;
    padding-left: 1.8rem;
    /* display: flex; */
    /* justify-content:center; */
  }
  .Typewriter{
    font-size: 2rem;
    text-align: center;
  }

 nav{
   display: flex;
   flex-wrap:wrap;
   margin:20px;
   /* justify-content: center;  */
   /* background-color: yellow; */
   /* margin: 5px;
   align-items: center; */
 }
  
 
  a {
    color: var(--blue-color);
   text-decoration: none;
   list-style-type: none;
   /* cursor:pointer; */
  
}
Ul>li>a.menu-links{
  letter-spacing: 3px;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.8s;

}

Ul>li>a.menu-links:hover {
  transform: scale(0.6);
  transition-duration: 0.5s;
  color: var(--red-color);
  box-shadow: inset 400px 0 0 0 #d6b850;
  border-radius: 10px;
  padding:2%;


}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.spacer-nav{
  display:flex;
  flex:.5;
}
.burger-menu-container{
display:flex;
justify-content: space-around;
}

.about-skills-icon-row{
  display: flex;
  justify-content: space-between;
  margin:10px;
  align-items: center;
}

.skill-icon{
margin:4px;
margin-bottom:15px;
 padding-top:15px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 15px; 

border-radius: 50%;
/* width: 100%; */
height: 100%;
}
  .col-skills-icon{
display:flex;
justify-content: center;
  }
  /* Getting rid of scrollbar */
  body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

  /* for the navbar media query */
  @media(max-width: 768px){
    .logo {
      /* display:flex;
      justify-content:center;
      align-items: flex-start; */
      color: var(--red-color);
      /* width:100%; */
      /* text-align: center; */
      /* flex-flow: row nowrap; */
      /* border:5px solid greenyellow; */


    }
    .Typewriter{
      display: none;
    }
    
  }