
/* Global styles */
:root {
    --danger-color: #dc3545;
    --success-color: #28a745;
    --yellow-color: #d6b850;
    --blue-color:#08a7ce;
    --red-color: #7f3331;
    --almost--black:#0e2124;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Trykker', serif;
    font-style: italic;
    font-size: .9rem;
    color: whitesmoke;
    background-color: #0e2124;
    height: 100vh;

  }
  .logo {
    font-size: 4rem;
    color: var(--yellow-color);
    margin-top: 0rem;
    padding-left: 1.8rem;
    /* display: flex; */
    /* justify-content:center; */
  }
  .Typewriter{
    font-size: 2rem;
    text-align: center;
  }

 nav{
   display: flex;
   flex-wrap:wrap;
   /* justify-content: center;  */
   /* background-color: yellow; */
   /* margin: 5px;
   align-items: center; */
 }
  
 
  a {
    color: var(--blue-color);
   text-decoration: none;
   /* cursor:pointer; */
  
}
.menu-links{
  /* color: var(--yellow-color); */
  text-decoration: none;
}
.menu-links:hover {
  transform: scale(0.6);
  transition-duration: 0.5s;
}
  /* a:hover {
    transform: scale(0.6);
    transition-duration: 0.5s;
  } */

  /* Getting rid of scrollbar */
  body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

  /* for the navbar media query */
  @media(max-width: 768px){
    .logo {
      /* display:flex;
      justify-content:center;
      align-items: flex-start; */
      color: var(--red-color);
      /* width:100%; */
      /* text-align: center; */
      /* flex-flow: row nowrap; */
      /* border:5px solid greenyellow; */


    }
    .Typewriter{
      display: none;
    }
    
  }